@layout('./layouts/master')

@section('content')
<h3>{{ name }},</h2>
    <p>
      Obrigado por adquirir nossa plataforma DIX, com ele você poderá ter um controle maior
      de suas reservas, dentro e fora do nosso aplicativo.
    </p>
    <p>Para confirmar sua conta clique no link abaixo.</p>

    <a href={{ url }} target="_blank">Clique aqui!</a>

    <h3 style="margin-top: 30px;">Obrigado :D</h3>
@endsection
