@layout('./layouts/master')

@section('content')
  <h2> {{ name }}, </h2>
  <p>
    Parece que você solicitou uma recuperação da sua senha, caso queira prosseguir clique no link abaixo
  </p>
  <p>
  <a href="{{ resetPasswordUrl }}" target="_blank">Recuperar senha</a>
  </p>
  <p>
    Caso não tenha sido você quem fez a solicitação, avor descartar o e-mail.
  </p>
  <p style="text-align: center">
    <strong>Eduardo Drozda</strong>
  </p>
@endsection
