<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyra - Pocket</title>
</head>
<body style="margin: 0; padding: 0; background: #efecec;">
  <section>
    <div style="
      color: #828282;
      margin-bottom: 50px;
      font-size: 13px;
      font-family: 'Open Sans',sans-serif;
      padding: 100px;
      ">
      <div style="text-align: center;">
        <img
        style="width: 200px; margin-top: -50px;"
        src="https://i.ibb.co/DC7bRZ7/normal-side-logo.png"
        alt='logo'
        />
      </div>

      <div style="padding: 0 100px; margin-top: -50px;">
        @!section('content')
      </div>

      <footer style="text-align: center; padding: 20px 0;">
        <h3>Equipe Dix.</h3>
      </footer>
    </div>
  </section>
</body>
</html>
